__pycache__
notebooks
.*.swp
.*.swo
build
dist
*.egg-info
/env
a.out

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# directiories to ignore
/data
/submissions

# hidden files to ignore
.DS_Store
.ipynb_checkpoints/
.vscode/
# Local History for Visual Studio Code
.history/
*.csv
*.pkl

# ignore some cloned repos
experiments/cv_test

# ignore models
models/qurty/era_boosted_qurty.pkl